body {
    background-color:fuchsia;
}

h1{
    text-align:center;
}
h2{
    text-align:center;
}
nav{
    align-content:center;
    margin:0% 5%;
    padding: 0% 0% 0% 0%;
}
.navv{
    text-decoration:none;
    font-size:18px;
    background:purple;
    margin:0px;
    color:white;
    padding:1% 2% 1% 2%;
    text-align: center;
    float:  right;
    border-radius: 12px;
    
}
#Aboutt{
    text-align:center;
    padding: 10px 30px;
    margin: 10% 5%;
    display:block;
    color:rebeccapurple;
    background-color:white;
    border:dashed;

}
ol {
    text-decoration: wavy;
    
    text-align: center;
    padding: 20px 30px;
    margin: 12% 2%;
    display: block;
    color: rebeccapurple;
    background-color: white;
    border: double;
}

ul 
{
   
    text-align: center ;
    padding: 15px 15px;
    margin: 8% 3%;
    display: block;
    color: darkcyan;
    background-color: lightcyan;
    border:   dotted;
    font-size:19px;
    font-style: italic;
     
}
img{
    border:dotted;
    text-align:center;
}



